$cell-width: 30px
$cell-height: 30px

$date-color: #000000
$other-month-date-color: #656765
$today-color: #a9efa9
$thead-color: #b0b5b0
$caption-color: #212723
$caption-background-color: #dde1dd

$to-do-list__placeholder-color: #615e5e
$to-do-list__create-task-button_color: #212723
$to-do-list__create-task-button_border: #8e8787
$to-do-list__create-task-button_background-color: #d4cdcd
$to-do-list__create-task-button_hover-color: #f1e9e9